body {
  width: 100%;
}
header {
  background-image: url(assets/dist/img/header.jpg);
  background-size: cover;
  padding: 240px 10%;
}
.header-content {
  color: white;
}
.header-content h6 {
  margin-top: 70px;
}
.sub-header {
  display: block;
  position: relative;
  width: 100%;
}
.sub-header .sh-content {
  display: inline-block;
  width: 100%;
  margin-right: -5px;
  padding: 0;
  color: #fff;
}
.sh-content img {
  width: 100%;
  height: 300px;
}
.sh-content h3, .sh-content p, .sh-content hr, .sh-content a {
  position: absolute;
  padding: 40px;
}
.sh-content h3.top {
  margin-top: -400px;
}
.sh-content p.top {
  top: 10%;
}
.sh-content hr.top {
  top: 28%;
  margin-left: 40px;
  opacity: 1;
  border-top: 2px solid;
}
.sh-content a.bottom {
  cursor:default;
  bottom: 2%;
  left: 0;
  text-decoration:underline;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .sh-content {

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sh-content {

  } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sub-header {
    position: absolute;
    top: 80%;
  }
  .sub-header .sh-content {
    width: calc(100%/3);
  }
  .sh-content img {

  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sub-header {
    width: 90%;
    left: 10%;
  }
  .sh-content img {
    height: 400px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sh-content {

  }
}
.column-content {
  position: relative;
  width: 100%;
  padding: 400px 10% 0;
}
.column-one {
  background-image: url(assets/dist/img/img6.webp);
  background-size: cover;
  height: 600px;
}
.column-two {
  height: 600px;
  padding: 60px;
}
.disbut {
  margin-top: 30px;
  background-color: black;
  color: #fff;
  width: 50%;
}
.disbut:hover {
  background-color: rgb(14, 212, 73);
  border:none;
}
.lin-content {
  text-decoration: none;
  color: white;
}

.places-section {
  background-color: rgb(243, 236, 239);
  width: 100%;
  position: relative;
  padding: 10%;
}

.places-column-1 {
  background-color: rgb(211, 200, 187); 
  padding: 50px;
}
.places-column-2 {
  background-color: rgb(154, 156, 156);
}
.places-column-2 button {
  color: #fff;
  background-color: transparent;
  border: none;
  height: 120px;
}
.places-column-2 button:hover {
  background-color: #333;
}
.oslocod {
  margin: 50px 0;
}
.side-flot {
  text-align: right;
  padding: none;
  margin-top: 30px;
}
.side-flot-one {
  text-align: right;
  padding: none;
}
.image-lining {
  background-size: cover;
}
.image-lining img {
  width: 100%;
  height: 300px;
}
.pn-content {
  padding-right: 0%!important;
  padding-left: 0%!important;
}
.side-mod {
  text-decoration: none;
  color: black;
  float: right;
  margin-top: 25px;
}
.tb-content{
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.logo-content {
  display: inline-block;
  width: 20px 20px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
}
.logo-content img{
  width: 100%;
  height: 20px;
}
.foot-content {
  margin-left: 10%;
  background-color: transparent;
}